.env.prod
.env.dev
.vscode
__tests__/node_modules
__tests__/package-lock.json
bot/build
bot/chat
bot/.env
chat/dist
chat/node_modules
chat/package-lock.json
gateway/build
server/node_modules
server/dist
server/package-lock.json