.env
.env.development
set-env
i
build
start-gateway-bot
start-server

__tests__/node_modules
__tests__/package-lock.json
chat/node_modules
chat/package-lock.json
gateway/build
server/node_modules
server/dist
server/package-lock.json